@model rentee.Models.Movie
@{
    
    ViewBag.Title = Model.movieName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<br />
<h2>@Model.movieName</h2>
<br />

<ul>
    <li>Genere:&nbsp @Model.MovieCategory.name </li>
    <li> Release Date:&nbsp  @Model.releaseDate.Value.ToLongDateString()</li>
    <li>Date Added:&nbsp  @Model.dateAdded.Value.ToLongDateString()</li>
    <li>Number in stock:&nbsp  @Model.numberInStock</li>
</ul>